{% extends 'base.html' %}
{% load static %}
{% block title %} Upload Student Subject Grade {% endblock title %}
{% load crispy_forms_tags %}
{% block head %} {% include 'partials/backend/head.html' %} {% endblock head %}
{% block body %}

{% include 'partials/backend/loader.html' %}

<div id="main_content">

    <!-- Start Main top header -->
    {% include 'partials/backend/sidebar-mini.html' %}

    <!-- Start Setting panel -->
    {% include 'partials/backend/settings.html' %}

    <!-- Start Theme panel do not add in project -->
    {% include 'partials/backend/theme.html' %}

    <!-- Start Quick menu with more function -->
    {% include 'partials/backend/quick-menu.html' %}

    <!-- Start Main left-bar navigation -->
    {% include 'partials/backend/sidebar-main.html' %}

    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        {% include 'partials/backend/nav.html' %}

        <!-- Start Page title and tab -->
        <div class="section-body">
            <div class="container-fluid">
							{% include 'partials/backend/messages.html' %}
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">{{class_name.class_name|upper}} Subject Grades</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            {% include 'partials/backend/breadcrumb.html' %}
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url "sch:school_options" class_name.pk %}">Class Features</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Subject Grades</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link {{ manage_all }}" data-toggle="tab" href="#manage-all">Manage Grades </a></li>
                        <li class="nav-item"><a class="nav-link {{ all_student }}" data-toggle="tab" href="#Student-all">Bulk Upload </a></li>
                        <li class="nav-item"><a class="nav-link {{ add_student }}" data-toggle="tab" href="#Student-add">Single Upload</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane {{ manage_all }}" id="manage-all">
                        <div class="card">
                            <div class="card-body">
                              <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        {{form3.subject_name|as_crispy_field}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 mt-4 pt-1">
                                      <button type="submit" class="btn btn-sm btn-primary btn-block" name="get_grades">Get grades</button>
                                    </div>
                                </div>
                              </form>
                            </div>
                        </div>

                        <div class="table-responsive card">
                            <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                      <th>SN</th>
                                      <th></th>
                                      <th>StudentID.</th>
                                      <th>Name</th>
                                      <th>Subject</th>
                                      <th>CA1</th>
                                      <th>CA2</th>
                                      <th>CA3</th>
                                      <th>Exam</th>
                                      <th>Total</th>
                                      <th>Grade</th>
                                      <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if grade_list %}
                                        {% for object in grade_list %}
                                            <tr>
                                                <td>{{forloop.counter }}</td>
                                                <td class="w60">
                                                    <img class="avatar" src="{{ object.student.user.pic.url }}" alt="">
                                                </td>
                                                <td>{{ object.student.user.username }}</td>
                                                <td>{{ object.student.student_name }}</td>
                                                <td>{{ object.subject.school_subject.subject_name|upper }}</td>
                                                <td>{{ object.first_ca }}</td>
                                                <td>{{ object.second_ca }}</td>
                                                <td>{{ object.third_ca }}</td>
                                                <td>{{ object.exam }}</td>
                                                <td>{{ object.total_score }}</td>
                                                <td>{{ object.grade.grade_letter }}</td>
                                                <td>
                                                    <a href="" class="btn btn-sm" title="Edit" hx-get="{% url "sch:score_edit_form" object.pk %}" hx-target="#gradeDialog"><i class="fa fa-edit text-primary"></i></a>

                                                    <button type="button" class="btn btn-sm" title="Delete" data-toggle="modal" data-target="#deleteStudent{{forloop.counter}}"><i class="fa fa-trash-o text-danger"></i></button>

                                                      <div class="modal fade" id="deleteStudent{{forloop.counter}}" tabindex="-1" aria-labelledby="deleteStudent" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="deleteStudent{{forloop.counter}}" >
                                                          <div class="modal-content" style="overflow-x: hidden; white-space: normal;">
                                                            <div class="modal-header">
                                                              <h6 class="modal-title text-danger">Delete Score </h6>
                                                              <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                                              </button>
                                                            </div>

                                                            <form action="{% url "sch:score_delete" object.pk %}" method="post">
                                                              {% csrf_token %}
                                                              <div class="modal-body">

                                                                <div class="row">
                                                                  <div class="col-12">
                                                                    <input type="hidden" name="subject_id" value="{{ object.pk }}">
                                                                      <p>Are you sure you want to Delete <b>{{ object.student.student_name|title }} {{ object.subject.school_subject.subject_name|title }}</b> Score?</p>
                                                                      <br>
                                                                      <p><b>Score For</b>: {{ object.subject.school_subject.subject_name|title }} Subject</p>
                                                                      <br>
                                                                      <p><b>NB: This action is irreversible, you will have to add the grade back manually</b></p>
                                                                      </div>
                                                                  </div>
                                                                  </div>

                                                                <div class="modal-footer">
                                                                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                  <button type="submit" class="btn btn-primary btn-block text-white" name="delete">Delete</button>
                                                                </div>
                                                            </form>

                                                          </div>
                                                          </div>
                                                      </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    {% include 'partials/backend/empty_list.html' %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane {{ all_student }}" id="Student-all">
                        <div class="card">
                            <div class="card-body">
                              <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        {{form.subject_name|as_crispy_field}}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                      {{form.file|as_crispy_field}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 mt-4 pt-1">
                                      <button type="submit" class="btn btn-sm btn-primary btn-block" name="upload_grade">Upload grades</button>
                                    </div>
                                </div>
                              </form>
                            </div>
                        </div>
                        <div class="table-responsive card">
                            <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                      <th>SN</th>
                                      <th></th>
                                      <th>StudentID.</th>
                                      <th>Name</th>
                                      <th>Subject</th>
                                      <th>CA1</th>
                                      <th>CA2</th>
                                      <th>CA3</th>
                                      <th>Exam</th>
                                      <th>Total</th>
                                      <th>Grade</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if object_list %}
                                        {% for object in object_list %}
                                            <tr>
                                                <td>{{forloop.counter }}</td>
                                                <td class="w60">
                                                    <img class="avatar" src="{{ object.student.user.pic.url }}" alt="">
                                                </td>
                                                <td>{{ object.student.user.username }}</td>
                                                <td>{{ object.student.student_name }}</td>
                                                <td>{{ object.subject.school_subject.subject_name|upper }}</td>
                                                <td>{{ object.first_ca }}</td>
                                                <td>{{ object.second_ca }}</td>
                                                <td>{{ object.third_ca }}</td>
                                                <td>{{ object.exam }}</td>
                                                <td>{{ object.total_score }}</td>
                                                <td>{{ object.grade.grade_letter }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    {% include 'partials/backend/empty_list.html' %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane {{ add_student }}" id="Student-add">
                        <div class="row clearfix">
                          <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card">
                              <div class="card-header">
                                  <h3 class="card-title">Student Grade Information</h3>
                                  <div class="card-options ">
                                      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                      <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                  </div>
                              </div>
                              <form class="card-body" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                {{ form2|crispy }}
                                <div class="form-group row ">
                                    <div class="col-12 mt-2 mb-2">
                                        <button type="submit" class="btn btn-primary btn-block" name="single_upload">Upload Grade</button>
                                    </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-12 col-sm-12">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start main footer -->
        {% include 'partials/backend/footer.html' %}
    </div>
</div>

<div class="modal fade" id="grade" style="display:none;" tabindex="-1" aria-labelledby="grade" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="gradeDialog" hx-target="this">

    </div>
</div>

<div class="modal fade" id="error" style="display:none;" tabindex="-1" aria-labelledby="error" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="errorDialog" hx-target="this">
        <div class="modal-content" style="overflow-x: hidden; white-space: normal;">
            <div class="modal-header">
              <h6 class="modal-title text-danger">Error </h6>
              <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                {% include 'partials/backend/messages.html' %}

            <div class="row">
                <div class="col-12">
                <p>Something went wrong, Failed to get Grade!</p>
                </div>
            </div>
            </div>
          </div>
    </div>
</div>

<!-- Start Script -->
{% include 'partials/backend/script.html' %}
<script>
    $(document).ready(function() {
        $('.custom_searchable').select2();
    });
</script>

<script>
	var modal = new bootstrap.Modal(document.getElementById('grade'));
	var modalError = new bootstrap.Modal(document.getElementById('error'));
	htmx.on('htmx:afterSwap', (e) => {
		if (e.detail.target.id === 'gradeDialog'){
		    modal.show();
	    }
    })

	htmx.on('htmx:beforeSwap', (e) => {
	  if (e.detail.target.id === 'gradeDialog' && !e.detail.xhr.response){
		modal.hide();
		}
    })

    document.addEventListener('htmx:responseError', function (event) {
        if (event.detail.xhr.status === 404) {
            modalError.show()
        }
    });

</script>
<!-- End Script -->

{% endblock body %}