{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
{% block head %} {% include 'partials/backend/head.html' %} {% endblock head %}
{% block body %}

{% include 'partials/backend/loader.html' %}

<div id="main_content">

    <!-- Start Main top header -->
    {% include 'partials/backend/sidebar-mini.html' %}

    <!-- Start Theme panel do not add in project -->
    {% include 'partials/backend/theme.html' %}

    <!-- Start Quick menu with more function -->
    {% include 'partials/backend/quick-menu.html' %}

    <!-- Start Main left-bar navigation -->
    {% include 'partials/backend/sidebar-main.html' %}

    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        {% include 'partials/backend/nav.html' %}

        <!-- Start Page title and tab -->
        <div class="section-body">
            <div class="container-fluid">
                {% include 'partials/backend/messages.html' %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="header-action">
                        <h1 class="page-title">Dashboard</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            {% include 'partials/backend/breadcrumb.html' %}
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#admin-Dashboard">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="row clearfix row-deck">
                    {% if request.user.userType|lower == 'school' or request.user.userType|lower == 'admin' %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Total Students</div>
                                <div><span class="h4 font700">{{total_students}}</span></div>
                                <small class="text-muted">Total student in the school</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Total Subjects</div>
                                <div><span class="h4 font700">{{total_subjects}}</span> </div>
                                <small class="text-muted">Total number of subject enrolled</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Total Admin</div>
                                <div><span class="h4 font700">{{total_admins}}</span></div>
                                <small class="text-muted">Total admin registered</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.userType|lower == 'school' %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Revenue Generated</div>
                                <div><span class="h4 font700">₦79,452</span></div>
                                <small class="text-muted">Total revenue generateed</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% elif request.user.userType|lower == 'student' %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Total Students</div>
                                <div><span class="h4 font700">{{total_students}}</span></div>
                                <small class="text-muted">Total student in the school</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Total Subjects</div>
                                <div><span class="h4 font700">{{total_subjects}}</span> </div>
                                <small class="text-muted">Total number of subject enrolled</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="mb-2 h6">Total Classes</div>
                                <div><span class="h4 font700">{{total_classes}}</span></div>
                                <small class="text-muted">Total number of classes registered</small>
                            </div>
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="admin-Dashboard" role="tabpanel">

                        <div class="row clearfix row-deck mt-4">
                            <div class="{% if request.user.userType|lower == 'student' %} col-xl-12 col-lg-12 col-md-12 {% else %} col-xl-6 col-lg-6 col-md-12{% endif %}">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Exam Toppers</h3>
                                        <div class="card-options">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        </div>
                                    </div>
                                    <div class="table-responsive" style="height: 310px;">
                                        <table class="table card-table table-vcenter text-nowrap table-striped mb-0">
                                            <tbody>
                                                <tr>
                                                    <th>SN</th>
                                                    <th>Name</th>
                                                    <th></th>
                                                    <th>Class</th>
                                                    <th>%AVG</th>
                                                </tr>
                                                {% if exam_toppers %}

                                                    {% for object in exam_toppers %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td class="w40">
                                                            <div class="avatar">
                                                                <img class="avatar" src="{{object.student.user.pic.url}}" alt="avatar">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>{{object.student.student_name|upper}}</div>
                                                            <div class="text-muted">{{object.student.user.username}}</div>
                                                        </td>
                                                        <td>{{object.current_enrollment.student_class.class_name|upper}}</td>
                                                        <td>{{object.student_average}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    {% include "partials/backend/empty_list.html" %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if not request.user.userType|lower == 'student' %}
                            <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">New Student List</h3>
                                        <div class="card-options">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped mb-0 text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>SN</th>
                                                        <th>Username</th>
                                                        <th>Name</th>
                                                        <th>Class</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if new_student_list %}
                                                        {% for student in new_student_list %}
                                                            <tr>
                                                                <td>{{forloop.counter}}</td>
                                                                <td>{{student.user.username}}</td>
                                                                <td>{{student.student_name}}</td>
                                                                <td>
                                                                    {% with student.student_information.last as enrollment %}
                                                                        {% if enrollment %}
                                                                            <span class="tag tag-success">{{ enrollment.student_class.class_name|upper }}</span>
                                                                        {% else %}
                                                                            <span class="tag tag-danger">No Class Assigned</span>
                                                                        {% endif %}
                                                                    {% endwith %}
                                                                </td>
                                                                <td>{{student.date_created|date:"d/m/Y"}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% include "partials/backend/empty_list.html" %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/backend/footer.html' %}
    </div>

</div>

<!-- Start Script -->
{% include 'partials/backend/script.html' %}
<!-- End Script -->

{% endblock body %}