{% include 'partials/backend/messages.html' %}

<div class="table-responsive card">
    <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap">
        <thead>
            <tr>
              <th>SN</th>
              <th></th>
              <th>StudentID.</th>
              <th>Name</th>
              <th>Term</th>
              <th>Session</th>
              <th>Fees Status</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% if object_list %}
                {% for object in object_list %}
                    <tr>
                        <td>{{forloop.counter }}</td>
                        <td class="w60">
                            <img class="avatar" src="{{ object.student.user.pic.url }}" alt="img">
                        </td>
                        <td>{{ object.student.user.username }}</td>
                        <td title="{{ object.student.student_name }}">{{ object.student.student_name|truncatechars:30 }}</td>
                        <td>{{ object.academic_term|upper }}</td>
                        <td>{{ object.academic_session }}</td>
                        <td>
                            {% if object.has_paid %}
                            <span class="tag tag-success">paid</span>
                            {% else %}
                            <span class="tag tag-warning">unpaid</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="" class="btn btn-sm" title="Edit" hx-get="{% url "sch:fee_edit_form" object.pk %}" hx-target="#editDialog"><i class="fa fa-edit text-primary"></i></a>

                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            {% include 'partials/backend/empty_list.html' %}
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

    }, 10000);

</script>