{% extends 'base.html' %}
{% load static %}
{% block title %} Student {% endblock title %}
{% load crispy_forms_tags %}
{% block head %} {% include 'partials/backend/head.html' %} {% endblock head %}
{% block body %}

{% include 'partials/backend/loader.html' %}

<div id="main_content">

    <!-- Start Main top header -->
    {% include 'partials/backend/sidebar-mini.html' %}

    <!-- Start Setting panel -->
    {% include 'partials/backend/settings.html' %}

    <!-- Start Theme panel do not add in project -->
    {% include 'partials/backend/theme.html' %}

    <!-- Start Quick menu with more function -->
    {% include 'partials/backend/quick-menu.html' %}

    <!-- Start Main left-bar navigation -->
    {% include 'partials/backend/sidebar-main.html' %}

    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        {% include 'partials/backend/nav.html' %}

        <!-- Start Page title and tab -->
        <div class="section-body">
            <div class="container-fluid">
							{% include 'partials/backend/messages.html' %}
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">Students</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            {% include 'partials/backend/breadcrumb.html' %}
                            <li class="breadcrumb-item active" aria-current="page">Students</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link {{ all_student }}" data-toggle="tab" href="#Student-all">All Student </a></li>
                        <li class="nav-item"><a class="nav-link {{ add_student }}" data-toggle="tab" href="#Student-add">Add</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane {{ all_student }}" id="Student-all">
                        <div class="card">
                            <div class="card-body">
                              <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        {{form.student_class|as_crispy_field}}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                      {{form.academic_session|as_crispy_field}}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                      {{form.academic_status|as_crispy_field}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 mt-4 pt-1">
                                      <button type="submit" class="btn btn-sm btn-primary btn-block" name="get_students">Get students</button>
                                    </div>
                                </div>
                              </form>
                            </div>
                        </div>
                        <div class="table-responsive card">
                            <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                      <th>SN</th>
                                      <th></th>
                                      <th>StudentID.</th>
                                      <th>Name</th>
                                      <th>Class</th>
                                      <th>Email</th>
                                      <th>Phone</th>
                                      <th>Date Registered</th>
                                      <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if object_list %}
                                        {% for object in object_list %}
                                            <tr>
                                                <td>{{forloop.counter }}</td>
                                                <td class="w60">
                                                    <img class="avatar" src="{{ object.student.user.pic.url }}" alt="">
                                                </td>
                                                <td>{{ object.student.user.username }}</td>
                                                <td>{{ object.student.student_name }}</td>
                                                <td>{{ object.student_class.class_name }}</td>
                                                <td>{{ object.student.user.email }}</td>
                                                <td>{{ object.student.user.phone }}</td>
                                                <td>{{ object.date_created }}</td>
                                                <td>
                                                  <a href="{% url 'sch:edit_student' object.student.user.pk %}?student_class={{form.student_class.value}}&academic_session={{form.academic_session.value}}&academic_status={{form.academic_status.value}}" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                  <button type="button" class="btn btn-sm" title="Delete" data-toggle="modal" data-target="#deleteStudent{{forloop.counter}}"><i class="fa fa-trash-o text-danger"></i></button>

                                                  <div class="modal fade" id="deleteStudent{{forloop.counter}}" tabindex="-1" aria-labelledby="deleteStudent" aria-hidden="true">
                                                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="deleteStudent{{forloop.counter}}" >
                                                          <div class="modal-content" style="overflow-x: hidden; white-space: normal;">
                                                              <div class="modal-header">
                                                                  <h6 class="modal-title">Delete Student: {{ object.student.user.username }}</h6>
                                                                  <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                                                  </button>
                                                              </div>
                                                              <form action="" method="post">
                                                                  {% csrf_token %}
                                                                  <div class="modal-body">
                                                                      <div class="row">
                                                                          <div class="col-12">
                                                                                                                                                                              <input type="hidden" name="user_id" value="{{ object.student.user.pk }}">
                                                                                                                                                                              <input type="hidden" name="student_class" value="{{ form.student_class.value }}">
                                                                                                                                                                              <input type="hidden" name="academic_session" value="{{ form.academic_session.value }}">
                                                                                                                                                                              <input type="hidden" name="academic_status" value="{{ form.academic_status.value }}">


                                                                            <p>Are you sure you want to delete this student</p>
                                                                            <br>
                                                                            <p><b>StudentID</b>: {{ object.student.user.username }}</p>
                                                                            <p><b>Name</b>: {{ object.student.student_name }}</p>
                                                                            <p><b>NB: This action is irreversible</b></p>

                                                                          </div>
                                                                      </div>
                                                                  </div>

                                                                  <div class="modal-footer">
                                                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                      <button type="submit" class="btn btn-primary btn-block text-white" name="delete">Delete</button>
                                                                  </div>
                                                              </form>
                                                          </div>
                                                      </div>
                                                  </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    {% include 'partials/backend/empty_list.html' %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane {{ add_student }}" id="Student-add">
                        <div class="row clearfix">
                          <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="card">
                              <div class="card-header">
                                  <h3 class="card-title">Basic Information</h3>
                                  <div class="card-options ">
                                      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                      <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                  </div>
                              </div>
                              <form class="card-body" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
              <input type="hidden" name="student_class" value="{{ form.student_class.value }}">
              <input type="hidden" name="academic_session" value="{{ form.academic_session.value }}">
              <input type="hidden" name="academic_status" value="{{ form.academic_status.value }}">
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">StudentID <span class="text-danger"></span></label>
                                      <div class="col-md-9">
                                          {{ user_form.username }}

                                          {% if user_form.username.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ user_form.username.errors }}
                                          </div>
                                          {% endif %}

                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Full Name <span class="text-danger">*</span></label>
                                      <div class="col-md-9">
                                          {{ info_form.student_name }}

                                          {% if info_form.student_name.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ info_form.student_name.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Email <span class="text-danger"></span></label>
                                      <div class="col-md-9">
                                          {{ user_form.email }}

                                          {% if user_form.email.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ user_form.email.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Phone</label>
                                      <div class="col-md-9">
                                          {{ user_form.phone }}

                                          {% if user_form.phone.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ user_form.phone.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Password</label>
                                      <div class="col-md-9">
                                          {{ user_form.password }}

                                          {% if user_form.password.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ user_form.password.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Passport <span class="text-danger"></span></label>
                                      <div class="col-md-9">
                                          {{ user_form.pic }}

                                          {% if user_form.pic.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ user_form.pic.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Enrollment Class <span class="text-danger">*</span></label>
                                      <div class="col-md-9">
                                          {{ enrollment_form.student_class }}
                                          {% if enrollment_form.student_class.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ enrollment_form.student_class.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-md-3 col-form-label">Gender <span class="text-danger">*</span></label>
                                      <div class="col-md-9">
                                          {{ info_form.gender }}

                                          {% if info_form.gender.errors %}
                                          <div class="alert alert-danger mt-2" role="alert">
                                            {{ info_form.gender.errors }}
                                          </div>
                                          {% endif %}
                                      </div>
                                  </div>
                                  <div class="form-group row ">
                                      <label class="col-md-3 col-form-label"> <span class="text-danger"></span></label>
                                      <div class="col-md-9 mt-2 mb-2">
                                          <button type="submit" class="btn btn-primary btn-block" name="create">Create Account</button>
                                      </div>
                                  </div>
                              </form>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-12 col-sm-12">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start main footer -->
        {% include 'partials/backend/footer.html' %}
    </div>
</div>

<!-- Start Script -->
{% include 'partials/backend/script.html' %}
<!-- End Script -->

{% endblock body %}