{% load static %}
<!-- Start main footer -->
<div class="section-body">
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    Copyright © 2024 <a href="https://oyichetech.com">OyicheTech</a>.
                </div>
                <div class="col-md-6 col-sm-12 text-md-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="{% url "basic:privacy-policy" %}">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="https://oyichetech.com/terms-and-conditions/">Term of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>