{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="{% static 'backend/favicon.ico' %}" type="image/x-icon"/>

<!-- Bootstrap Core and vandor -->
<link rel="stylesheet" href="{% static 'backend/plugins/bootstrap/css/bootstrap.min.css' %}" />

<!-- Plugins css -->
<link rel="stylesheet" href="{% static 'backend/plugins/summernote/dist/summernote.css' %}"/>

<!-- Core css -->
<link rel="stylesheet" href="{% static 'backend/css/style.min.css' %}"/>