{% load static %}
<div class="user_div">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#righttab-statistics">Statistics</a></li>

    </ul>
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="righttab-statistics" role="tabpanel">
            {% if request.user.userType|lower == 'school' %}
            <div class="card gradient">
                <div class="card-body">
                    <div>Total Revenue</div>
                    <div class="py-3 m-0 text-center h1 text-white font700">₦00,000</div>
                    <div class="d-flex">
                        <span class="text-white">Income</span>
                        <div class="ml-auto"><i class="fa fa-caret-up text-white mr-1"></i>0%</div>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-3">
                            <div class="clearfix">
                                <div class="float-left text-white"><strong>₦00,000</strong></div>
                                <div class="float-right"><small class="text-white">2023/2024 session</small></div>
                            </div>
                            <div class="progress progress-xxs">
                                <div class="progress-bar bg-azure" role="progressbar" style="width: 87%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div class="clearfix">
                                <div class="float-left text-white"><strong>₦00,000</strong></div>
                                <div class="float-right"><small class="text-white">2024/2025 session</small></div>
                            </div>
                            <div class="progress progress-xxs">
                                <div class="progress-bar bg-green" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-body top_counter">
                    <div class="icon bg-yellow"><i class="fa fa-users"></i></div>
                    <div class="content">
                        <span>Total Student</span>
                        <h5 class="number mb-0 font600">{{total_students}}</h5>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body top_counter">
                    <div class="icon bg-gray"><i class="fa fa-sitemap"></i></div>
                    <div class="content">
                        <span>Total Classes</span>
                        <h5 class="number mb-0 font600">{{total_classes}}</h5>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body top_counter">
                    <div class="icon bg-dark"><i class="fa fa-black-tie"></i></div>
                    <div class="content">
                        <span>{% if request.user.userType|lower == 'student' %}Total Classmate {% else %}Total Admins{% endif %}</span>
                        <h5 class="number mb-0 font600">{{total_admins}}</h5>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body top_counter">
                    <div class="icon bg-azure"><i class="fa fa-tags"></i></div>
                    <div class="content">
                        <span>Total Subjects</span>
                        <h5 class="number mb-0 font600">{{total_subjects}}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>