{% load static %}

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="{% static 'backend/bundles/lib.vendor.bundle.js' %}"></script>

<!-- Start all plugin js -->
<script src="{% static 'backend/bundles/counterup.bundle.js' %}"></script>
<script src="{% static 'backend/bundles/apexcharts.bundle.js' %}"></script>
<script src="{% static 'backend/bundles/summernote.bundle.js' %}"></script>

<!-- Start project main js  and page js -->
<script src="{% static 'backend/js/htmx.min.js' %}"></script>
<script src="{% static 'backend/js/core.js' %}"></script>
<script src="{% static 'backend/js/page/index.js' %}"></script>
<script src="{% static 'backend/js/page/summernote.js' %}"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });

    }, 10000);

</script>
<script src="https://js.paystack.co/v2/inline.js">
