{% extends 'base.html' %}
{% load static %}
{% block title %} 404 Page {% endblock title %}
{% block head %} {% include 'partials/backend/head.html' %} {% endblock head %}
{% block body %}

<div class="auth option2">
    <div class="auth_left">
        <div class="card">
            <div class="card-body text-center">
                <div class="display-3 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
                <h1 class="h3 mb-3">Oops.. You just found an error page..</h1>
                <p class="h6 text-muted font-weight-normal mb-3">{{message}}&hellip;</p>
                <a class="btn btn-primary" href="javascript:history.back()"><i class="fe fe-arrow-left mr-2"></i>Go back</a>
            </div>
        </div>
    </div>
</div>

<!-- Start Script -->
{% include 'partials/backend/script.html' %}
<!-- End Script -->

{% endblock body %}