{% load static %}
<footer class="bg-dark default-padding-top text-light">

    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; Copyright 2024. All Rights Reserved by <a href="oyichetech.com">oyichetech</a></p>
                </div>
                <div class="col-lg-6 text-end link">
                    <ul>
                        <li>
                            <a href="#">Terms of use</a>
                        </li>
                        <li>
                            <a href="#">License</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>