{% load static %}
<!-- ========== Meta Tags ========== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="OYICHE SCHOOL - Result compilation and lot more">

<!-- ========== Favicon Icon ========== -->
<link rel="shortcut icon" href="{% static 'frontend/img/favicon.png' %}" type="image/x-icon">

<!-- ========== Start Stylesheet ========== -->
<link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/font-awesome.min.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/flaticon-set.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/elegant-icons.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/magnific-popup.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/owl.carousel.min.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/owl.theme.default.min.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/animate.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/bootsnav.css' %}" rel="stylesheet" />
<link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/responsive.css' %}" rel="stylesheet" />
