{% load static %}
<!-- jQuery Frameworks -->
<script src="{% static 'frontend/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.appear.js' %}"></script>
<script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'frontend/js/wow.min.js' %}"></script>
<script src="{% static 'frontend/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'frontend/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'frontend/js/count-to.js' %}"></script>
<script src="{% static 'frontend/js/loopcounter.js' %}"></script>
<script src="{% static 'frontend/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'frontend/js/bootsnav.js' %}"></script>
<script src="{% static 'frontend/js/main.js' %}"></script>