{% load static %}

 <!-- Start Why choose us -->
 <div class="wcs-area default-padding bg-light content-default">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 thumb">
                <img src="{% static 'frontend/img/about/7.png' %}" alt="Thumb">
            </div>
            <div class="col-lg-6 content">
                <div class="site-heading text-left">
                    <h2>Why choose us</h2>
                    <p>
                        Oyiche School Management System is designed to make school administration easier and more efficient..
                    </p>
                </div>

                <!-- item -->
                <div class="item">
                    <div class="icon">
                        <i class="flaticon-trending"></i>
                    </div>
                    <div class="info">
                        <h4>
                            <a href="#">Multi-School Support</a>
                        </h4>
                        <p>
                            Each school gets its own dedicated space within the system, with fully separated data and customized access for staff and administrators
                        </p>
                    </div>
                </div>
                <!-- item -->

                <!-- item -->
                <div class="item">
                    <div class="icon">
                        <i class="flaticon-books"></i>
                    </div>
                    <div class="info">
                        <h4>
                            <a href="#">Accurate Grading & Reporting</a>
                        </h4>
                        <p>
                            Our grading system allows you to enter continuous assessments, exams, and final scores with ease. Get detailed performance reports, student averages, and automatic letter grades with a few clicks.
                        </p>
                    </div>
                </div>
                <!-- item -->

                <!-- item -->
                <div class="item">
                    <div class="icon">
                        <i class="flaticon-professor"></i>
                    </div>
                    <div class="info">
                        <h4>
                            <a href="#">Data Security</a>
                        </h4>
                        <p>
                            Your school's data is secure, with role-based access to maintain privacy and confidentiality.
                        </p>
                    </div>
                </div>
                <!-- item -->

            </div>
        </div>
    </div>
</div>
<!-- End Why choose us -->